body {
background: #FFF8F0;
overflow-x: hidden;

}
li{
    float:left;
    margin: 20px 10px 10px 10px;
    display:inline-block;
	min-width: 40px;
}
  @font-face {
    font-family: fairview;
    src: url(../fonts/Fairview_Regular.otf);
}


#letsgo {
    font-family: 'fairview';
    float: left;
    position: relative;
    height: inherit;
    width: inherit;
    padding-left: 10px;
}
#findLocation {
    left: auto;
    right: auto;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: block;
    font-size: 21px;
    text-align: center;
    height: 60px;
    width: 285px;

}


#buttonSubmit{
    left: auto;
    right: auto;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: block;
    font-size: 21px;
    text-align: center;
    height: 60px;
    width: 285px;
    border-radius: 4px !important;
}
.button1 {
    padding-top: 50px;
}

#findLocation:hover {
        
}

#FavoritePlaces {
    left: auto;
    right: auto;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: block;
    font-size: 21px;
	height: 60px;
    width: 285px;
}

.button2 {
    padding: 50px 0 25px 0;
}
#AddNewLocation {
    left: auto;
    right: auto;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: block;
    font-size: 21px;
    height: 60px;
    width: 285px;
}
#MySchedule{
    left: auto;
    right: auto;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: block;
    font-size: 21px;
    height: 60px;
    width: 285px;
}

.aboutTitle{
    text-align: center;
}

.aboutMe{
    font-family: 'Open+Sans', sans-serif;
    font-size: 17px;

}

.aboutThesis{
    font-family: 'Open+Sans', sans-serif;
    font-size: 17px;
}
/************************************/
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
/*************************************/
td, th {
    padding-right: 15px;
    padding-left: 15px;

}
th{
    text-align: left;
}

.loginSignup {
    margin-left: 80%;
    margin-right: auto;
    display: block;
    position: relative;
}

 #div1 { 
    margin: auto;
    position: relative;
    font-size: 21px;
    width:100%;
      }
#cvs{
  margin: auto;
  position: relative;
  width: 400px;
  display: block;

}

a.thelist {
    font-size: 30px;
    font-weight: 400;
}

.goback {
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 10%;
}
.button3 {
    padding: 10px;
}
.button4 {
    padding: 25px 0 50px 0;
}
.detailcolor {
    margin-left: auto;
    margin-right: auto;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"]{
    background-color: #007FFF !important;
    border: .1rem solid #007FFF !important;
    border-radius: 2em;
    color: #FFF8F0 !important;
}

.locationTitle {

    text-align: center;
}
.Title {
    margin-bottom: -10px;
}
.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: 'Open+Sans', sans-serif;
    font-size: 2em;
    position: relative;
    display: block;
    margin: auto auto auto auto;
    /* font-weight: 300;
    padding: 30px 25px 33px 25px; */

}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}

ul.links {
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    display: inline-block;
    left: auto;
    right: auto;
    position: relative;
}
ul.links:hover {
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    display: inline-block;
    left: auto;
    right: auto;
    position: relative;
    text-decoration: none;

}


a {
	color: #003459;
	text-decoration: none;

}

a:hover,
a:focus {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
}

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}









/**
 * 10.0 Header
 */


header{
	position: relative;
	background-color:  rgba(255,255,255,0.75);
	overflow: hidden;
	font-size: 0.75em;
}

header img{
	float:left;
	max-width: 160px;
	background-color: transparent;
}

header img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

header .navigation {
	float: left;
	display: block;
	padding: 0px 0px 0px 0px;
}




   header .navigation .links li a{
   	padding: 2px 5px;
	color : rgb(51,51,51);
   	position: relative;
   }

   header #toggle{
	   display: none;
	   opacity: 0;
   }



/***************************** CSS For Mobile *****************************/
   @media (max-width: 820px) {
	   header{
		text-align: center;
   		z-index: 9001;
   	}

       li{
           float:left;
           margin: 0px 10px 10px 10px;
           display:inline-block;
           width:100%;
           min-width: 40px;
       }


       .notsignedin{
           top: 60px;
           position: relative;
           left: -50px;

       }

   	body{background-color:#FFF8F0}

   	header .navigation {
   		float: none;
		opacity: 0;
		display: inline-block;
		height: 0px;
		padding: 0 20px;
   	}

	header.toggleNav .navigation{
   		margin-left:0;
        margin-right:0;
		opacity: 1;
		height: 190px;
		text-align: center;
   	}

	header .links {
   		display: none !important;

   	}
       @media (max-width: 820px) {
           .links {
               padding:0;
               margin:0;
               width: 100%;
           }
       }
	header.toggleNav .links{
   		display: table-cell !important;
   	}

	header li{
   		display: block;
		text-align: center;
   	}

	header #toggle{
   	   position:absolute;
   	   top:20px;
   	   right:20px;
   	   display: inline-block;
	   opacity: 1;
      }

	header #toggle{
   	   position:absolute;
   	   top:20px;
   	   right:20px;
   	   display: inline-block;
	   opacity: 1;
      }

	header.toggleNav #toggle{
   	   color:#F76161;
      }
   }

   .loginSignup {
    margin-left: 55%;
    margin-right: auto;
    padding-right: 15px;
    display: block;
    position: relative;
   
}




