body {
background: powderblue;
overflow-x: hidden;

}
li{
	margin: 100px,100px;
	display:inline;
	min-width: 40px;
}
  @font-face {
    font-family: fairview;
    src: url(../fonts/Fairview_Regular.otf);
}


#letsgo{
	font-family: 'fairview';

}
#findLocation {
    left: auto;
    right: auto;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: block;
    font-size: 21px;
    text-align: center;
    height: 60px;
    width: 210px;

}

.button1 {
    padding-top: 50px;
}

#findLocation:hover {
        
}

#FavoritePlaces {
    left: auto;
    right: auto;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: block;
    font-size: 21px;
	height: 60px;
    width: 210px;
}

.button2 {
    padding: 50px 0px 50px 0px;
}
#AddNewLocation {
    left: auto;
    right: auto;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: block;
    font-size: 21px;
    height: 60px;
    width: 210px;
}



.loginSignup {
    margin-left: 80%;
    margin-right: auto;
    display: block;
    position: relative;
}

 #div1 { 
    margin: auto;
    position: relative;
    font-size: 21px;
    width:100%;
      }
#cvs{
  margin: auto;
  position: relative;
  width: 400px;
  display: block;

}
.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: Lato;
    font-size: 2em;
    position: relative;
    display: block;
    margin: auto auto auto auto;
    /* font-weight: 300;
    padding: 30px 25px 33px 25px; */

}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}



a {
	color: #333;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
}

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}






/**
 * 6.1 Links
 */

a {
	color: #333;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
}




/**
 * 10.0 Header
 */


header{
	position: relative;
	background-color:  rgba(255,255,255,0.75);
	overflow: hidden;
	font-size: 0.75em;
}

header img{
	float:left;
	max-width: 160px;
	background-color: transparent;
}

header img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

header .navigation {
	float: left;
	display: block;
	padding: 0px 0px 0px 0px;
}




   header .navigation .links li a{
   	padding: 2px 5px;
	color : rgb(51,51,51);
   	position: relative;
   }

   header #toggle{
	   display: none;
	   opacity: 0;
   }



/***************************** CSS For Mobile *****************************/
   @media (max-width: 820px) {
	   header{
		text-align: center;
   		padding: 5% 10px;
   		z-index: 9001;
   	}

   	body{background-color:yellow}

   	header .navigation {
   		float: none;
		opacity: 0;
		display: inline-block;
		height: 0px;
		padding: 0 20px;
   	}

	header.toggleNav .navigation{
   		margin: auto;
		opacity: 1;
		height: 100px;
		text-align: center;
		padding: 20px;
   	}

	header .links {
   		display: none !important;
   	}

	header.toggleNav .links{
   		display: table-cell !important;
   	}

	header li{
   		display: block;
		text-align: center;
   	}

	header #toggle{
   	   position:absolute;
   	   top:20px;
   	   right:20px;
   	   display: inline-block;
	   opacity: 1;
      }

	header #toggle{
   	   position:absolute;
   	   top:20px;
   	   right:20px;
   	   display: inline-block;
	   opacity: 1;
      }

	header.toggleNav #toggle{
   	   color:#F76161;
      }
   }

   .loginSignup {
    margin-left: 55%;
    margin-right: auto;
    padding-right: 15px;
    display: block;
    position: relative;
   
}




